.movie-list {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.movie-item {
  text-align: left;
  border: 1px solid #ddd;

  max-width: 280px;
}

.movie-item img {
  width: 100%;
  height: auto;
  border-radius: 4px;
}
